<!-- input.erb -->

<form method="get" action="/result" name="input" id="input">
  <div class="input-area">
    <fieldset name="potential-hazard" form="input">
      <legend>Potential Hazard</legend>

      <label>Type of Foods & Method of Handling:</label>
      <select name="type">
        <option value="666"> - </option>
        <option value="5">5 Handling low risk foods</option> 
        <option value="10">10 Handling pre-packed high risk foods & caterers less than 20 meals/day</option>
        <option value="30">30 Preparation/handling of open high risk foods</option>
        <option value="40">40 Manufacture of high risk foods, wholesalers & packers who re-wrap RTE</option>
      </select>

      <label>Consumers at Risk:</label>
      <select name="consumers">
        <option value="666"> - </option>
        <option value="0">0 Very few - less than 20</option>
        <option value="5">5 Few - High street shop, restaurant, supermarket</option>
        <option value="10">10 Superstore, hypermarket, airport,motorway</option>
        <option value="15">15 Manufacturer with nationalinternational distribution</option>
      </select>

      <label>Method of Processing:</label>
      <select name="method">
        <option value="666"> - </option>
        <option value="0">0 Low risk activities</option>
        <option value="20">20 High risk activities</option>
      </select>

      <label>Vulnerable Groups:</label>
      <select name="group">
        <option value="666"> - </option>
        <option value="0">0 No vulnerable groups</option>
        <option value="22">22 Catering premises serving vulnerable group - high-risk foods + more than 20 persons</option>
      </select>
    </fieldset>

    <fieldset name="compliance" form="input">
      <legend>Compliance</legend>
    
      <label>Food Hygiene & Safety:</label>
      <select name="hygiene">
        <option value="666"> - </option>
        <option value="0">0 Excellent</option>
        <option value="5">5 Very good</option>
        <option value="10">10 Satisfactory</option>
        <option value="15">15 Fair</option>
        <option value="20">20 Bad</option>
        <option value="25">25 Very bad</option>
      </select>
    
      <label>Structural</label>
      <select name="structure">
        <option value="666"> - </option>
        <option value="0">0 Excellent</option>
        <option value="5">5 Very good</option>
        <option value="10">10 Satisfactory</option>
        <option value="15">15 Fair</option>
        <option value="20">20 Bad</option>
        <option value="25">25 Very bad</option>
      </select>
    </fieldset>

    <fieldset name="confidence-in-management" form="input">
      <legend>Confidence in Management</legend>
    
        <label>Confidence in Management:</label>
        <select name="confidence">
          <option value="666"> - </option>
          <option value="0">0 Good record of compliance. Good HACCP. Very good track record</option>
          <option value="5">5 Reasonable record of compliance. Adocumented food management system. Good track record</option>
          <option value="10">10 Satisfactory record. Progress towards a documented food management system</option>
          <option value="20">20 Varying record, poor appreciation ofhazards, no SFBB, lack of training</option>
          <option value="30">30 Poor track record, little or no appreciation of hazards or controls, no SFBB</option>
        </select>
    </fieldset>

    <fieldset name="significance-of-risk" form="input">
      <legend>Significance of Risk</legend>
    
      <label>Significance of Risk:</label>
      <select name="significance">
        <option value="666"> - </option>
        <option value="0">0 No significant risk</option>
        <option value="20">20 Significant risk</option>
      </select>
    </fieldset>
  </div>
  
  <!--should I use an input element or button here? -->
  <!--<input class="btn" id="submit" type="submit" value="Submit">-->

</form>

<button class="btn" form="input" id="submit">Submit</button>

<button class="btn" onclick="location.href='/'">Restart</button>
