<div class="wrapper">

  <div class="section-group">
    <div class="form-group">
      <h2>Risk rating:</h2>
      <p id="risk-rating">
         <%= @risk_rating %>
        <p> <%= @frequency %> </p>
      </p>
    </div>
  
    <div class="form-group">
      <h2>FH Rating Score:</h2>
      <p id="food-hygiene-rating">
        <%= @food_hygiene_rating %>
      </p>
    </div>
    
    <div class="form-group">
      <button><a href="/">Reset</a></button>
    </div>
   </div>

</div>