<div class="wrapper">

  <div class="section-group">

    <div class="form-group">
      <h2>Total Score:</h2>
      <p id="total-score">
         <%= @total_score %>
      </p>
    </div>

    <div class="form-group">
      <h2>Risk rating:</h2>
      <p id="risk-rating">
         <%= @risk_rating %>
      </p>
    </div>

    <div class="form-group">
      <h2>Inspection Frequency:</h2>
      <p id="frequency">
        <%= @frequency %>
      </p>
    </div>
  
    <div class="form-group">
      <h2>FH Rating Score:</h2>
      <p id="food-hygiene-rating">
        <%= @food_hygiene_rating %>
      </p>
    </div>
    
    <div class="form-group">
      <button><a href="/">Reset</a></button>
    </div>
    
   </div>

</div>