<h2>Risk rating:</h2>
<p>
  <strong> <%= @risk_rating %> </strong>
  <p> <%= @frequency %> </p>
</p>

<br>

<h2>FH Rating Score:</h2>
<p>
  <strong> <%= @food_hygiene_rating %> </strong>
</p>


<button><a href="/">Reset</a></button>