<form action="/result" method="get" name="input">
  <label for="type">Type of Food and Method of Handling:</label>
  <select name="type" id="type" required>
    <option value="666"> - </option>
    <option value="5">5 | Handling low risk foods</option>
    <option value="10">10 | Handling pre-packed high risk foods & caterers less than 20 meals/day</option>
    <option value="30">30 | Preparation/handling of open high risk foods</option>
    <option value="40">40 | Manufacture of high risk foods, wholesalers & packers who re-wrap RTE</option>
  </select>
  <br/>
  <label for="consumers">Consumers at Risk:</label>
  <select name="type" id="type">
    <option value="666"> - </option>
    <option value="0">0 | Very few - less than 20</option>
    <option value="5">5 | Few - High street shop, restaurant, supermarket</option>
    <option value="10">10 | Superstore, hypermarket, air port, motorway</option>
    <option value="15">15 | Manufacturer with national/international distribution</option>
  </select>
</form>


<button form="input" type="submit">Submit</button>

<button form="input" type="reset">Reset</button>