/* MAIN CSS */

/* GLOBAL */

:root {
  --clr-primary: white;
  --clr-back: green;
}

body {
  background-color: var(--clr-back);
  color: var(--clr-primary);
  font-family: 'Open Sans', sans-serif; 
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.wrapper {   
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  color: blue;
  background: yellow;
}

/* TEST CSS FROM KP FORMS */

input, button, select, label, a {
  font: inherit;
}

input {
  background-color: var(--clr-back);
}

input, a {
  color: var(--clr-primary);
}

button, .submit {
  border-color: white;
  border-width: 5px;
  background-color: var(--clr-back);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

form {
  display: grid;
  gap: 1rem;
}

fieldset { /* TEST CSS TRYING TO EXPOSE FIELDSET */
  border-bottom-style: dashed;
  border-bottom-color: var(--clr-primary);
  border-bottom-width: 0.1rem;
  padding-bottom: 1rem;
}

.section-group {
  display: grid;
}

.form-group {
  display: grid;
  row-gap: 1rem;
}

.result-group {
  display: grid;
  row-gap: 1rem;
  border-bottom-style: dotted;
  border-bottom-width: 0.1rem;
  border-bottom-color: var(--clr-primary);
  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2em;
  line-height: 3;
  font-weight: 900;
}

h2, legend {
  font-size: 1em;
  line-height: 2;
  font-weight: 900;
}

label {
  margin-top: 0.5rem;
}

footer {
  font-size: 1rem;
  font-weight: 100;
}

#total-score, #risk-rating, #food-hygiene-rating {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
}

.title,
footer {
  text-align: center;
}
