/* MAIN.CSS */

/* GLOBAL */

:root {
  --clr-primary: white;
  --clr-back: green;
}

/* adjust base font-size for mobile-first layout */
html { 
  font-size: 23px;
}

body {
  background-color: var(--clr-back);
  color: var(--clr-primary);
  font-family: 'Open Sans', sans-serif;
}

input, button, select, label, a {
  font: inherit;
}

/* LAYOUT */

/* layout.erb */

.outer-wrapper {
  max-inline-size: 700px;
  margin-inline: auto;
  padding-inline: 150px;
  /* outline: solid red 1px; */
}

footer {
  margin-block-start: 2rem;
}

/* input.erb */

/* form {
  outline: solid yellow 2px;
} */

fieldset {
  margin-block-start: 1rem;
  border-bottom-style: dashed;
  border-bottom-color: var(--clr-primary);
  border-bottom-width: 0.1rem;
  padding-bottom: 2rem;
}

label {
  margin-block: 0.75rem;
  display: block;
}

select {
  width: 100%;
}

/* result.erb */

.result-group {
  /* outline: 4px yellow solid; */
  text-align: center;
  margin-block: 2.5rem;
}


/* BUTTONS & RESET LINK */

a {
  text-decoration-line: none;
  color: var(--clr-back);
}

.btn {
  display: block;
  color: var(--clr-back);
  background-color: var(--clr-primary);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem auto;
  padding-block: 1rem;
  padding-inline: 8rem;
}

.btn:hover {
  color: var(--clr-back);
  background-color: var(--clr-primary);
}

#submit {
  margin-block-start: 3rem;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5em;
  line-height: 3;
  font-weight: 900;
}

h2, legend {
  font-size: 1.5em;
  line-height: 2;
  font-weight: 900;
}

label {
  font-size: 1.25rem;
}

footer {
  font-size: 1rem;
  font-weight: 100;
}

#total-score, #risk-rating, #food-hygiene-rating {
  font-size: 3rem;
  font-weight: 900;
}

.title,
footer {
  text-align: center;
}

/* ERROR MESSAGE */

.message {
  font-size: 1.5rem;
  color: blue;
  background: yellow;
  padding-block: 20px;
  text-align: center;
}